*.png
*_for_sh.py
*_testing
gss_struct.py
*.ipynb
speedtest.py
testrun*
timecheck.py
coltest.py
older_opt_alpha_files.py
opt_alpha_debug.py
logs/
__pycache__/
DATA/
RUNS/
venv/
/jup
/term
/faststats/
/.ipynb_checkpoints
compvar.py
